@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+IE:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+IE:wght@100..400&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');
.card-link {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: rgb(163, 32, 163);
  color: white;
}
.navbar__logo {
  font-size: 45px;
  font-family: 'Bitcount Grid Double', sans-serif;
  text-align: center;
  padding: 5px;
  letter-spacing: 10px;
}
.navbar__links {
  display: flex;
  gap: 25px;
}
.navbar__links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Saira Stencil', sans-serif;
  font-size: 20px
}
.navbar__links a:hover {
  text-decoration: underline;
}
.subheading {
  gap: 20px;
  justify-content: center;
  padding: 40px;
  background-color: #f7f7f7;
  margin: 0 auto;
}
.subheading img {
  width: 50%;
  border-radius: 8px;
  margin-bottom: 15px;
  margin: 0 auto;
}
.subheading h2 {
  text-align: center;
  font-family: 'Saira Stencil', sans-serif;
  font-size: 80px;
  color: #7e2e6d;
  margin-top: 10px;
  margin-bottom: 10px;
}
.subheading p {
  text-align: center;
  max-width: 700px;
  margin: auto;
  font-family: 'Saira Stencil', sans-serif;
}
.cardsubheading {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(251, 217, 238);
  border-radius: 80px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 700px;
  text-align: center;
  padding: 20px;
  position: none;
  margin: 0 auto;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  padding: 40px;
  background-color: #f7f7f7;
}
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 250px;
  height: 330px;
  text-align: center;
  padding: 20px;
  position: none;
  text-decoration: none;
}
.card img {
  width: 200px;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.card h2 {
    font-family: 'Bitcount Grid Double', sans-serif;
    color:#393839;
    text-decoration: none;
}
.card p {
    font-family: 'Saira Stencil', sans-serif;
    color:#393839;
    text-decoration: none;
}
a {
  text-decoration: none;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(163, 32, 163);
  color: white;
  font-family: 'Saira Stencil', sans-serif;
}